/*========================= GOOGLE FONTS =========================*/
@import url("https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');

/*========================= VARIABLES CSS =========================*/
:root {
  /*____________________ Colors ____________________*/
  --clr-dark: #101415;
  --clr-light: #F7F5F2;
  --clr-theme: #001AFF;
  --clr-hover: orangered;

  /*____________________ Font Family ____________________*/
  --font-main: 'Lexend', sans-serif;
  --fon-sub: "Poppins", sans-serif;
  --font-barcode: 'Libre Barcode 128 Text', cursive;

  /*____________________ Font Size ____________________*/
  /* Desktop Font size */
  --fs-subtext: 1rem;
  --fs-text: 1.25rem;

  --fs-icon: 1.5rem;

  --fs-subtitle: 1.75rem;
  --fs-title: 2rem;

  --fs-small: 0.75rem;
  --fs-huge: 4rem;
  /*____________________ z index ____________________*/
  --z-lowest: -10;
  --z-low: -5;
  --z-high: 5;
  --z-highest: 10;
}

/*____________________ Base ____________________*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: var(--fs-text);
  font-family: var(--font-main);
  color: var(--clr-dark);
  background-color: var(--clr-light);
  letter-spacing: 2px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
main {
    max-width: 90%;
    margin: 0 auto;
}
/*Remove the property of 100vh, when inserting its content*/
main section {
    height: 100vh;
    padding: 2rem 0;
}
/*____________________ Navigatin Bar ____________________*/
nav {
    position: fixed;
    bottom: 2rem;
    left: 0;
    right: 0;

    width: 20rem;
    height: 4.5rem;
    margin: 0 auto;
    padding: 1rem 0.5rem;
    overflow: hidden;

    background-color: var(--clr-light);
    box-shadow: 0 8px 32px hsla(231, 44%, 45%, .2);
    border-radius: 5px;
}
.nav__list {
    display: flex;
    justify-content: space-around;
}
  
.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav__link i {
    font-size: var(--fs-icon);
    color: var(--clr-dark);
    transition: .3s;
}
.nav__name {
    position: absolute;
    font-size: var(--fs-small);
    color: var(--clr-theme);
    
    transition: .4s;
    transform: translateY(50px);
    opacity: 0;
}
/* Active link in Nav bar*/
.active-link i {
    color: var(--clr-theme);
}
  
.active-link .nav__name {
    opacity: 1;
    transform: translateY(30px);
}

/*____________________ Home Section ____________________*/
.card__profile {
    width: 100%;
    height: 420px;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.card__top-bar {
    width: 320px;
    height: 20px;
    background-color: var(--clr-dark);
}
.card__info {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card__img-cotainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 320px;
    height: 240px;
    box-shadow: rgba(139, 134, 134, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.8) 0px 18px 36px -18px inset;
}
.card__img {
    width: 70%;
    overflow: hidden;
}
.gooey {
    background-image: linear-gradient(120deg, #daa520 0%, #ff6600 100%);
    border-radius: 74% 26% 69% 32% / 47% 73% 27% 53%;
    animation: morph 3s linear infinite;
}
  
@keyframes morph {
    0%,
    100% {
      border-radius: 25% 75% 64% 36% / 55% 64% 36% 45%;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    75% {
      border-radius: 45% 55% 61% 39% / 73% 70% 30% 27%;
      transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }
    50% {
      opacity: 0.8;
      border-radius: 32% 68% 72% 28% / 24% 47% 53% 76%;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    25% {
      border-radius: 38% 62% 32% 68% / 63% 27% 73% 37%;
      transform: translate3d(0, -5px, 0) rotateZ(0.01deg);
    }
}
.card__socialmedia {
    width: 320px;
    display: flex;
    justify-content: space-around;
}
.card__links-container {
    margin-top: 2rem;
    transition: 0.5s;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}
.card__links-container a {
    display: flex;
    width: 150px;
    margin-top: 10px;
    color: var(--clr-dark);
    border: 1px solid var(--clr-dark);
    transition: 0.2s ease-in-out;
}
.card__links-container a:hover {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}
.card__icon {
    width: 60px;
    height: 50px;
    font-size: 1.125rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
.card__icon-text {
    width: 100px;
    font-size: 0.75rem;
    padding-left: 0.25rem;
    /* background-color: #ff6600; */

    display: flex;
    align-items: center;
}














  
/*=============== Responsive Devices ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
    nav {
      zoom: .8;
    }
}
  
/* For large devices */
@media screen and (min-width: 968px) {
    .container {
      margin-left: auto;
      margin-right: auto;
    }
    nav {
      zoom: 1.1;
    }
    .card__profile {
        width: 550px;
        height: 300px;
        border: 1px solid var(--clr-dark);
    }
    .card__top-bar {
        width: 100%;
        height: 50px;
    }
    .card__info {
        width: 100%;
        height: 100%;
        flex-direction: row;
    }
    .card__img-cotainer {
        height: 200px;
        margin-left: 30px;
    }
    .card__links-container {
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .card__links-container a {
        border: none;
        margin-top: 3px;
        width: 180px;
    }
    
}